# EDA on Fifa Dataset

Importing all the necessary packages for the EDA.

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\Admin\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Importing the dataset
I used the the dataset available on Kaggle which contains 17,000+ players featuring in FIFA18, each with more than 70 attributes. It is scraped from the website SoFiFa.

In [3]:
df = pd.read_csv("fifa21_raw_data.csv")

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (76) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Checking the Shape of the data.This function helps to  know our data better, it tells us how many no of rows and columns does our dataset contains.

In [4]:
df.shape

(18979, 77)

Since, We know that our dataset contains 77 columns.so we need to know the names of the columns, on the basis of which we can say which column is usefull for us and which we need to elimminate.

In [5]:
df.columns

Index(['photoUrl', 'LongName', 'playerUrl', 'Nationality', 'Positions', 'Name',
       'Age', '↓OVA', 'POT', 'Team & Contract', 'ID', 'Height', 'Weight',
       'foot', 'BOV', 'BP', 'Growth', 'Joined', 'Loan Date End', 'Value',
       'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [6]:
idf = df[["Name","Age","Nationality","Positions","↓OVA","Team & Contract","Height","Jumping",
          "Attacking","Stamina","Goalkeeping","Value","Wage","Heading Accuracy","Ball Control"]]

In [7]:
idf

,Name,Age,Nationality,Positions,↓OVA,Team & Contract,Height,Jumping,Attacking,Stamina,Goalkeeping,Value,Wage,Heading Accuracy,Ball Control
0,L. Messi,33,Argentina,RW ST CF,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,"5'7""",68,429,72,54,€67.5M,€560K,70,96
1,Cristiano Ronaldo,35,Portugal,ST LW,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,"6'2""",95,437,84,58,€46M,€220K,90,92
2,J. Oblak,27,Slovenia,GK,91,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,"6'2""",78,95,41,437,€75M,€125K,15,30
3,K. De Bruyne,29,Belgium,CAM CM,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,"5'11""",63,407,89,56,€87M,€370K,55,92
4,Neymar Jr,28,Brazil,LW CAM,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,"5'9""",62,408,81,59,€90M,€270K,62,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,Zhang Mengxuan,21,China PR,CB,47,\n\n\n\nChongqing Dangdai Lifan FC SWM Team\n2...,"5'10""",65,141,55,53,€35K,€1K,45,24
18975,V. Da Silva,17,England,ST,47,\n\n\n\nOldham Athletic\n2020 ~ 2021\n\n,"5'7""",50,202,55,48,€60K,€500,36,44
18976,Xia Ao,21,China PR,CB,47,\n\n\n\nWuhan Zall\n2018 ~ 2022\n\n,"5'10""",57,145,54,45,€40K,€1K,43,42
18977,B. Hough,17,England,CM,47,\n\n\n\nOldham Athletic\n2020 ~ 2021\n\n,"5'9""",58,211,43,45,€60K,€500,40,48
18978,M. Flores,19,Bolivia,CDM,47,\n\n\n\nClub Bolívar\n2020 ~ 2024\n\n,"5'9""",55,191,47,56,€60K,€500,48,43

In [8]:
idf.dtypes

Name                object
Age                  int64
Nationality         object
Positions           object
↓OVA                 int64
Team & Contract     object
Height              object
Jumping              int64
Attacking            int64
Stamina              int64
Goalkeeping          int64
Value               object
Wage                object
Heading Accuracy     int64
Ball Control         int64
dtype: object

In [9]:
idf.isnull().sum()

Name                0
Age                 0
Nationality         0
Positions           0
↓OVA                0
Team & Contract     0
Height              0
Jumping             0
Attacking           0
Stamina             0
Goalkeeping         0
Value               0
Wage                0
Heading Accuracy    0
Ball Control        0
dtype: int64

In [10]:
#Creating the Prefered positions columns
idf['Prefered Positions'] = idf.Positions.str.split().str.get(0)

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [11]:
#Processing the postions columns
player_position = {"Gkkk":"GK",
                   "LWB":"DEF","LB":"DEF","CB":"DEF","RB":"DEF","RWB":"DEF",
                   "LW":"MID","LM":"MID","CDM":"MID","CM":"MID","CAM":"MID","RW":"MID","RW":"MID",
                   "CF":"FWD","ST":"FWD"
                  } 
idf['Position'] = idf["Prefered Positions"].replace(player_position, regex=True)

In [12]:
#Replacing ↓OVA	 to Overall
idf = idf.rename(columns = {"↓OVA" :"Overall"})

In [13]:
#Preprocessing the Team & Contract column and renaming it to Club
idf["Team & Contract"]

0                    \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1                        \n\n\n\nJuventus\n2018 ~ 2022\n\n
2                 \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3                 \n\n\n\nManchester City\n2015 ~ 2023\n\n
4             \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n
                               ...
18974    \n\n\n\nChongqing Dangdai Lifan FC SWM Team\n2...
18975             \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18976                  \n\n\n\nWuhan Zall\n2018 ~ 2022\n\n
18977             \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18978                \n\n\n\nClub Bolívar\n2020 ~ 2024\n\n
Name: Team & Contract, Length: 18979, dtype: object

In [14]:
idf['Club'] = idf['Team & Contract'].str.rstrip('\n')
idf['Club'] = idf['Club'].str.lstrip('\n')
idf['Club'] = idf['Club'].str.replace('\d+','')
idf['Club'] = idf['Club'].str.strip('\n ~')

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

#Preprocessing the Height column
    as the columns contains the data in numbers and symbol format, which could be easily understandable by humans, 
    but not by the program. So we need to remone those symbols and also convert the values into cm from inches.

In [15]:
idf['temp1'] = idf["Height"].str.get(0)
idf['temp2'] = idf["Height"].str.get(2) + idf["Height"].str.get(3)


idf['temp2'] = idf['temp2'].str.strip('"')

idf['temp1'] = idf['temp1'].astype(float)
idf['temp1'] = idf["temp1"] * 30.48

idf["temp2"] = idf["temp2"].astype(float)
idf['temp2'] = idf["temp2"] * 2.54


idf["Height"] = idf["temp1"] + idf["temp2"]

#### Preprocessing the Value column

As from the data we can see, the value column contain symbol and also some players are valued in Million while some are valued in thousands. So we need to scale the value in one for all the players. We'll be valuing al players in M.

In [16]:
def Val_split(x):
    try:
        if 'M' in x :
            return float(x.split("M")[0][1:])
        elif 'K' in x :
            return float(x.split("K")[0][1:])/1000
    except :
        return 0
    
idf["Value"] = idf["Value"].apply(lambda x : Val_split(x))
idf =idf.rename(columns ={"Value": "Value in M"})

####  Preprocessing the Wage column

similar as the value column

In [17]:
def Wage_split(x):
    try:
        if 'K' in x :
            return float(x.split("K")[0][1:])
        elif "" in x:
            return 0.5
    except :
        return 0
    
idf["Wage in K"] = idf["Wage"].apply(lambda x : Wage_split(x))

In [18]:
idf["Wage in K"]

0        560.0
1        220.0
2        125.0
3        370.0
4        270.0
         ...
18974      1.0
18975      0.5
18976      1.0
18977      0.5
18978      0.5
Name: Wage in K, Length: 18979, dtype: float64

In [19]:
idf

,Name,Age,Nationality,Positions,Overall,Team & Contract,Height,Jumping,Attacking,Stamina,...,Value in M,Wage,Heading Accuracy,Ball Control,Prefered Positions,Position,Club,temp1,temp2,Wage in K
0,L. Messi,33,Argentina,RW ST CF,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,170.18,68,429,72,...,67.500,€560K,70,96,RW,MID,FC Barcelona,152.40,17.78,560.0
1,Cristiano Ronaldo,35,Portugal,ST LW,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,187.96,95,437,84,...,46.000,€220K,90,92,ST,FWD,Juventus,182.88,5.08,220.0
2,J. Oblak,27,Slovenia,GK,91,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,187.96,78,95,41,...,75.000,€125K,15,30,GK,GK,Atlético Madrid,182.88,5.08,125.0
3,K. De Bruyne,29,Belgium,CAM CM,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,180.34,63,407,89,...,87.000,€370K,55,92,CAM,MID,Manchester City,152.40,27.94,370.0
4,Neymar Jr,28,Brazil,LW CAM,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,175.26,62,408,81,...,90.000,€270K,62,95,LW,MID,Paris Saint-Germain,152.40,22.86,270.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,Zhang Mengxuan,21,China PR,CB,47,\n\n\n\nChongqing Dangdai Lifan FC SWM Team\n2...,177.80,65,141,55,...,0.035,€1K,45,24,CB,DEF,Chongqing Dangdai Lifan FC SWM Team,152.40,25.40,1.0
18975,V. Da Silva,17,England,ST,47,\n\n\n\nOldham Athletic\n2020 ~ 2021\n\n,170.18,50,202,55,...,0.060,€500,36,44,ST,FWD,Oldham Athletic,152.40,17.78,0.5
18976,Xia Ao,21,China PR,CB,47,\n\n\n\nWuhan Zall\n2018 ~ 2022\n\n,177.80,57,145,54,...,0.040,€1K,43,42,CB,DEF,Wuhan Zall,152.40,25.40,1.0
18977,B. Hough,17,England,CM,47,\n\n\n\nOldham Athletic\n2020 ~ 2021\n\n,175.26,58,211,43,...,0.060,€500,40,48,CM,MID,Oldham Athletic,152.40,22.86,0.5
18978,M. Flores,19,Bolivia,CDM,47,\n\n\n\nClub Bolívar\n2020 ~ 2024\n\n,175.26,55,191,47,...,0.060,€500,48,43,CDM,MID,Club Bolívar,152.40,22.86,0.5

In [20]:
idf .columns

Index(['Name', 'Age', 'Nationality', 'Positions', 'Overall', 'Team & Contract',
       'Height', 'Jumping', 'Attacking', 'Stamina', 'Goalkeeping',
       'Value in M', 'Wage', 'Heading Accuracy', 'Ball Control',
       'Prefered Positions', 'Position', 'Club', 'temp1', 'temp2',
       'Wage in K'],
      dtype='object')

Checkin if the dataset contain any null value or not.

In [22]:
idf.isna().sum()

Name                    0
Age                     0
Nationality             0
Positions               0
Overall                 0
Team & Contract         0
Height                  0
Jumping                 0
Attacking               0
Stamina                 0
Goalkeeping             0
Value in M            249
Wage                    0
Heading Accuracy        0
Ball Control            0
Prefered Positions      0
Position                0
Club                    0
temp1                   0
temp2                   0
Wage in K               0
dtype: int64

As we can see Value in M column contains  many null value.So we need to replace the null value by the mean.